.rpsChoice {
    height: 40vh;
    color: white;
}

.rpsChoiceHalf {
    width: 50%;
}

.rpsChoiceHalfUpperSection {
    width: 100%;
    min-height: 22vh;
}

.rpsChoiceHalfLowerSection {
    width: 100%;
    font-family: BarlowSemiCondensedBold;
}