.header {
    border: 2px solid hsl(217, 16%, 45%);
    min-height: 100px;
    border-radius: 8px;
    font-family: BarlowSemiCondensedBold;
    font-weight: 700;
    color: white;
    font-size: 22px;
    line-height: 22px;
}

.advancedOptions {
    font-size: 15px;
    line-height: 15px;
}

.score-container {
    background-color: white;
    min-height: 80%;
    border-radius: 7px;
    text-align: center;
}

.score-text {
    color: hsl(229, 64%, 46%);
    height: 20%;
    font-size: 20px;
    margin-top: 3px;
}

.score-value {
    color: hsl(229, 25%, 31%);
    font-size: 50px;
    height: 80%;
    margin-top: 10px;
}